.board  {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: lighten($board-color, 5%);
  padding: 10px;
  //border-radius: 10px;
  margin-top: 70px;

  //border: 5px solid darken($board-color, 20%);
  @include mq-not-mobile  {
    width: 60%;
    box-shadow: 3px 2px 2px 3px darken($board-color, 10%);
    flex-wrap: wrap;
    margin-top: 0;
  }

  .container  {
    width: 17%;
    height: 47px;
    position: relative;
    perspective: 800px;
    //background-color: yellow;
    padding: 2%;
    margin: 5px;

    @include mq-not-mobile  {
      width: 192px;
      height: 128px;
    }

    .card {
      width: 96%;
      height: 96%;
      top: 2%;
      left: 2%;
      position: absolute;
      transform-style: preserve-3d;
      transition: transform .5s ease-in-out;
      box-shadow: 2px 2px 3px 3px darken($board-color, 10%);
      //border-radius: 5px;

      .front {
        transform: rotateY(180deg);
        //border-radius: 5px;
        //opacity: .7;
        //filter: grayscale(80%);
        transition: all .5s ease-in-out;

        &.grayish {
          filter: sepia(70%);
        }
      }

      .back  {
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        //border-radius: 5px;
        font-size: 1rem;
        text-align: center;
        font-family: $headers-font;
        border: 2px solid darken($board-color, 10%);
        transition: all .2s ease-in-out;
        &:hover {
          background-color: lighten($bg-color, 10%);
          color: white;
        }
        @include mq-not-mobile  {
          font-size: 1.8rem;
        }
      }

      &.flipped  {
        transform: rotateY(180deg);
      }

      figure,
      img {
        margin: 0;
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
      }
    }
  }


}