header  {
  background-color: $board-color;
  margin-bottom: 20px;
  //padding: 10px 50px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  border-bottom: 5px solid darken($board-color, 10%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  @include mq-not-mobile  {
    flex-direction: row;
    padding: 10px 50px;
  }
  h1  {
    margin: 0;
    font-family: $headers-font;
    font-size: 1.7rem;
    color: darken(#fff, 15%);
    letter-spacing: 1px;
    word-spacing: 5px;
    text-align: center;

    @include mq-not-mobile  {
      width: 33%;
      font-size: 2rem;
      text-align: left;
    }
  }
  p   {
    margin: 0;
    text-align: center;
    .counter  {
      font-size: 1.7rem;
      color: white;
      font-family: $headers-font;
      @include mq-not-mobile  {
        font-size: 2rem;
      }
    }
    @include mq-not-mobile  {
      width: 33%;
    }
  }
  nav   {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    @include mq-not-mobile  {
      margin: 0;
      width: 33%;
      justify-content: flex-end;
      order: 3;
    }
    button  {
      margin: 0 10px;
      border: none;
      padding: 10px;
      background-color: lighten($board-color, 10%);
      color: white;
      border-radius: 5px;
      font-size: .7rem;
      font-family: $headers-font;
      transition: all .4s ease-in-out;
      &:hover {
        color: lighten($board-color, 10%);
        background-color: white;
      }
      @include mq-not-mobile  {
        font-size: 1rem;
      }
    }
  }
}
